.projects-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.project {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
    h3 {
        font-weight: 500;
        font-size: x-large;
        padding-bottom: 0.75rem;
        margin: 0;
    }

    p {
        font-weight: 400;
        font-size: medium;
        color: #525a5e;
        margin: 0;
    }

    a {
        font-weight: 400;
        font-size: medium;
        color: #525a5e;
    }
}