.contact-submitted {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    text-align: center;

    h1 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: x-large;
        color: #313638;
    }

    h2 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: large;
        color: #313638;
    }

    a {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: medium;
        color: #313638;
    }
}