.edu-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    li {
        
        h2 {
            font-size: x-large;
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;

            margin: 0;
        }
    }
}

.edu-list-item {
    display: flex;
    flex-direction: column;
    font-size: medium;
    margin-top: 0.5rem;

    row-gap: 0.3rem;
}

.edu-list-item-school {
    color: #313638;
    font-weight: 500;

    a {
        text-decoration: none;
        color: #313638;
    }
}

.edu-list-item-detail {
    color: #525a5e;
    font-weight: 400;

    a {
        text-decoration: none;
        color: #525a5e;
    }
}