.home-title-name {
    display: inline-block;
    transition: transform 0.3s ease;
}

.home-title-name:hover {
    transform: translateY(-10px);
}

.home-title-hand {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    transform-origin: 70% 70%;
}

.home-title-hand:hover {
    animation: handwave 0.6s infinite;
}

@keyframes handwave {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(20deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-20deg); }
    100% { transform: rotate(0deg); }
}

.home-main {
    a {
        text-decoration: none;
        color: #2565ed;
    }
    a:hover {
        text-decoration: underline;
    }
}

.home-main-content {
    display: flex;
    column-gap: 1rem;
    p {
        word-wrap: break-word;
    }
}

.home-me {
    margin-top: 18px;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}